# System
.DS_Store
Thumbs.db

# Testing tools
.php_cs.cache
/phpunit.xml

# Composer
/vendor/
/composer.lock
/composer.phar

# Data
*.csv

# Configs
gApiServiceAccountCredentials.json


# Temporary test folder.
tests/tmp-test-data/*
!tests/tmp-test-data/.gitkeep